# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# JWT
JWT_SECRET=

# Banco de dados MySQL
DB_HOST=db
DB_PORT=3306
DB_NAME=amadeus_db
DB_USER=amadeus
DB_PASSWORD=
DB_ROOT_PASSWORD=

# App
PORT=3000
